# Advanced SQL

After handling basic sql queries through Python, let us look at slightly more advanced SQL queries and their execution through Python's sqlite module. SQL concepts like nested queries, merges, join operations are some of the basic concepts among advanced sql queries. In order to execute queries and practice these concepts, we need to first load data. Most of these concepts involve more than one table, so we will load and work with data among two tables.

## Introduction to Fandango dataset

Fandango is an online ticketing platform for movies. In order to support user's ticket buying decision, Fandango has viewer reviews and ratings for movie listings. This Fandango data set consists of two files - Fandango scrape and Fandango score comparison. The Fandango scrape consists of the list of movies on Fandango and their ratings. The score comparison file consists of the movie name and compares Fandango's movie score with that of other movie review websites like rotten tomatoes and metacritic.

### Exercise

Connect to fandangodb.db and load the two data sets, fandango_scrape and fandango_score_comparison into two tables 'fscrape' and 'fscore' respectively.

In [72]:
import sqlite3
import csv
import pandas as pd

# Connecting to the database
fancon = sqlite3.connect(':memory:')
fancon.execute("PRAGMA foreign_keys = 1")

# Reading data into tables
scrapedf = pd.read_csv('https://raw.githubusercontent.com/colaberry/538data/master/fandango/fandango_scrape.csv')
scoredf = pd.read_csv('https://raw.githubusercontent.com/colaberry/538data/master/fandango/fandango_score_comparison.csv')
scrapedf.to_sql(name='fscrape',con=fancon,if_exists='append',index=False)
scoredf.to_sql(name='fscore',con=fancon,if_exists='append',index=False)

In [73]:
print(pd.read_sql_query("SELECT * FROM fscrape LIMIT 5",fancon))

                          FILM  STARS  RATING  VOTES
0  Fifty Shades of Grey (2015)    4.0     3.9  34846
1        Jurassic World (2015)    4.5     4.5  34390
2       American Sniper (2015)    5.0     4.8  34085
3             Furious 7 (2015)    5.0     4.8  33538
4            Inside Out (2015)    4.5     4.5  15749

In [74]:
fancur = fancon.cursor()
fancur.execute("SELECT * FROM fscrape LIMIT 5")
fancur.fetchall()

[('Fifty Shades of Grey (2015)', 4.0, 3.9, 34846),
 ('Jurassic World (2015)', 4.5, 4.5, 34390),
 ('American Sniper (2015)', 5.0, 4.8, 34085),
 ('Furious 7 (2015)', 5.0, 4.8, 33538),
 ('Inside Out (2015)', 4.5, 4.5, 15749)]

In [75]:
fancur = fancon.cursor()
fancur.execute("SELECT count(*) FROM fscrape")
fancur.fetchall()

[(510,)]

In [76]:
fancur = fancon.cursor()
fancur.execute("SELECT * FROM fscore LIMIT 5")
fancur.fetchall()

[('Avengers: Age of Ultron (2015)',
  74,
  86,
  66,
  7.1,
  7.8,
  5.0,
  4.5,
  3.7,
  4.3,
  3.3,
  3.55,
  3.9,
  3.5,
  4.5,
  3.5,
  3.5,
  4.0,
  1330,
  271107,
  14846,
  0.5),
 ('Cinderella (2015)',
  85,
  80,
  67,
  7.5,
  7.1,
  5.0,
  4.5,
  4.25,
  4.0,
  3.35,
  3.75,
  3.55,
  4.5,
  4.0,
  3.5,
  4.0,
  3.5,
  249,
  65709,
  12640,
  0.5),
 ('Ant-Man (2015)',
  80,
  90,
  64,
  8.1,
  7.8,
  5.0,
  4.5,
  4.0,
  4.5,
  3.2,
  4.05,
  3.9,
  4.0,
  4.5,
  3.0,
  4.0,
  4.0,
  627,
  103660,
  12055,
  0.5),
 ('Do You Believe? (2015)',
  18,
  84,
  22,
  4.7,
  5.4,
  5.0,
  4.5,
  0.9,
  4.2,
  1.1,
  2.35,
  2.7,
  1.0,
  4.0,
  1.0,
  2.5,
  2.5,
  31,
  3136,
  1793,
  0.5),
 ('Hot Tub Time Machine 2 (2015)',
  14,
  28,
  29,
  3.4,
  5.1,
  3.5,
  3.0,
  0.7,
  1.4,
  1.45,
  1.7,
  2.55,
  0.5,
  1.5,
  1.5,
  1.5,
  2.5,
  88,
  19560,
  1021,
  0.5)]

### Solution code

```python
# Run above code
```

In the above step we have loaded two files fandango_score_comparison and fandango_scrape into two dataframes. Let us verify the success of the loading operation by visualizing the dataframes.

### Exercise

Visualize the heads of both data frames created in the step above. Read and understand the nature of the data.

In [77]:
# Use .head(5) function on the dataframes to visualize first 5 rows of the dataframes.
# Use print function to print both the dataframes in a single step.

print(scrapedf.head(5),scoredf.head(5))

                          FILM  STARS  RATING  VOTES
0  Fifty Shades of Grey (2015)    4.0     3.9  34846
1        Jurassic World (2015)    4.5     4.5  34390
2       American Sniper (2015)    5.0     4.8  34085
3             Furious 7 (2015)    5.0     4.8  33538
4            Inside Out (2015)    4.5     4.5  15749                              FILM  RottenTomatoes  RottenTomatoes_User  \
0  Avengers: Age of Ultron (2015)              74                   86
1               Cinderella (2015)              85                   80
2                  Ant-Man (2015)              80                   90
3          Do You Believe? (2015)              18                   84
4   Hot Tub Time Machine 2 (2015)              14                   28

   Metacritic  Metacritic_User  IMDB  Fandango_Stars  Fandango_Ratingvalue  \
0          66              7.1   7.8             5.0                   4.5
1          67              7.5   7.1             5.0                   4.5
2          64              8.1   7.8             5.0                   4.5
3          22              4.7   5.4             5.0                   4.5
4          29              3.4   5.1             3.5                   3.0

   RT_norm  RT_user_norm         ...           IMDB_norm  RT_norm_round  \
0     3.70           4.3         ...                3.90            3.5
1     4.25           4.0         ...                3.55            4.5
2     4.00           4.5         ...                3.90            4.0
3     0.90           4.2         ...                2.70            1.0
4     0.70           1.4         ...                2.55            0.5

   RT_user_norm_round  Metacritic_norm_round  Metacritic_user_norm_round  \
0                 4.5                    3.5                         3.5
1                 4.0                    3.5                         4.0
2                 4.5                    3.0                         4.0
3                 4.0                    1.0                         2.5
4                 1.5                    1.5                         1.5

   IMDB_norm_round  Metacritic_user_vote_count  IMDB_user_vote_count  \
0              4.0                        1330                271107
1              3.5                         249                 65709
2              4.0                         627                103660
3              2.5                          31                  3136
4              2.5                          88                 19560

   Fandango_votes  Fandango_Difference
0           14846                  0.5
1           12640                  0.5
2           12055                  0.5
3            1793                  0.5
4            1021                  0.5

[5 rows x 22 columns]

### Solution code

```python
print(scrapedf.head(5),scoredf.head(5))
```

Let us understand a bit more about the data, before using SQL queries to analyze it.

### Exercise

Find the total number of rows in both the tables and print them out. You may use the dataframes to count the data.

In [78]:
# Use a simple print statement to print the number of rows
# Use the length method on the dataframes

print("Total number of records in fscrape table=%d and fscore table=%d"%(len(scrapedf),len(scoredf)))

Total number of records in fscrape table=510 and fscore table=146

### Solution code

```python
print("Total number of records in fscrape table=%d and fscore table=%d"%(len(scrapedf),len(scoredf)))
```

In [13]:
fancur = fancon.cursor()
fancur.execute("""SELECT count(*) FROM fscrape
               UNION 
               SELECT count(*) FROM fscore """)
fancur.fetchall()

[(146,), (510,)]

In [14]:
fancur = fancon.cursor()
fancur.execute("""SELECT count(*) FROM fscore
               UNION 
               SELECT count(*) FROM fscrape """)
fancur.fetchall()

[(146,), (510,)]

In [19]:
fancur = fancon.cursor()
fancur.execute("""SELECT * FROM fscore 
               UNION 
               SELECT * FROM fscrape """)
fancur.fetchall()

#cannot join, because no. of columns are different in two tables

OperationalError: SELECTs to the left and right of UNION do not have the same number of result columns

In [20]:
fancur = fancon.cursor()
fancur.execute("""SELECT FILM,VOTES FROM fscrape WHERE FILM='Ant-Man (2015)'
               UNION 
               SELECT FILM,IMDB_user_vote_count FROM fscore WHERE FILM='Ant-Man (2015)' """)
fancur.fetchall()

# remember we lose the order here

[('Ant-Man (2015)', 12055), ('Ant-Man (2015)', 103660)]

## Union, Intersection and Minus

<img src="../../../images/intersect_union_minus.png" style="width: 65vw;"> <br>

Union is a set theory concept which says that it is a collection of all unique elements of two or more sets. When performed among two tables say by specifying column name, it outputs the collection of all unique values that appear in the common column, of either or both tables. Intersection outputs the values that are appear in both tables. Note that when performed on same inputs, intersection will always be a subset of Union. Minus operation results in values/records, featuring in one table but not featuring in the other - i.e. A-B = A-(Intersection(A,B)).

### Exercise

Execute Union and Intersection operations on 'FILM' column of 'fscore' and 'fscrape' tables to understand the data better as well as understand the operations better.
* 1) Execute the SQL query
* 2) Fetch the output and store it in an array
* 3) Print the first five rows and size of the array to show total number of records in output

In [21]:
fancur = fancon.cursor()

# Modify the code below
fancur.execute("SELECT FILM FROM fscore UNION SELECT FILM FROM fscrape")
unionout = fancur.fetchall()
fancur.execute("SELECT FILM FROM fscore INTERSECT SELECT FILM FROM fscrape")
intersectout = fancur.fetchall()
fancur.execute("SELECT FILM FROM fscrape EXCEPT SELECT FILM FROM fscore")
exceptout = fancur.fetchall()

# 'MINUS' keyword is not supported in sqlite module at present. 'EXCEPT' keyword can be used as a substitute.
# The EXCEPT query returns the same output as MINUS.

In [22]:
print(unionout[:5],intersectout[:5],exceptout[:5])
print(len(unionout),len(intersectout),len(exceptout))

[(' Like Sunday, Like Rain (2015)',), ("'71 (2015)",), ('1001 Grams (2015)',), ('12 Golden Ducks (2015)',), ('24 Days (2015)',)] [("'71 (2015)",), ('5 Flights Up (2015)',), ('A Little Chaos (2015)',), ('A Most Violent Year (2014)',), ('About Elly (2015)',)] [(' Like Sunday, Like Rain (2015)',), ('1001 Grams (2015)',), ('12 Golden Ducks (2015)',), ('24 Days (2015)',), ('3 1/2 Minutes, Ten Bullets (2015)',)]
510 145 364

### Solution code

```python
fancur.execute("SELECT FILM FROM fscore UNION SELECT FILM FROM fscrape")
unionout = fancur.fetchall()
fancur.execute("SELECT FILM FROM fscore INTERSECT SELECT FILM FROM fscrape")
intersectout = fancur.fetchall()
fancur.execute("SELECT FILM FROM fscrape EXCEPT SELECT FILM FROM fscore")
exceptout = fancur.fetchall()
print(unionout[:5],intersectout[:5],exceptout[:5])
print("total number of rows in union=%d, total number of rows in intersection=%d, total number of rows in minus=%d"%(len(unionout),len(intersectout),len(exceptout)))
```

### Nested query

A Nested query, also referred to as sub-query, is a query within a query. This means that the innermost query is executed first and the output of that query serves as an input to the query which surrounds the embedded query.

From above analysis we can see that fscrape is a bigger list and fscore is a smaller list of movies. Let us retrieve complete Fandango information for all movies that have an IMDB score of more than 7.5

#### Exercise

Retrieve FILM, STARS, RATING, VOTES for all movies that have an IMDB rating greater than 7.5 in the fscore table. Note: Do not use 'JOIN' operation to solve this exercise.

In [30]:
# Modify the code below
fancur.execute("""SELECT film,stars,rating,votes FROM fscrape 
WHERE film IN 
(SELECT film FROM fscore WHERE imdb > 7.5)
""")
nestout = fancur.fetchall()
print(nestout[:5])
print("Total no. of rows = %d"%len(nestout))

[('Inside Out (2015)', 4.5, 4.5, 15749), ('Kingsman: The Secret Service (2015)', 4.5, 4.2, 15205), ('Avengers: Age of Ultron (2015)', 5.0, 4.5, 14846), ('Ant-Man (2015)', 5.0, 4.5, 12055), ('Mad Max: Fury Road (2015)', 4.5, 4.3, 10509)]
Total no. of rows = 27

### Solution code

```python
fancur.execute('''SELECT * FROM fscrape
                WHERE FILM IN (
                SELECT FILM FROM fscore
                WHERE IMDB>7.5)''')
nestout = fancur.fetchall()
print(nestout[:5])
print("total number of rows=%d"%len(nestout))
```

In [23]:
fancur.execute(""" SELECT * FROM fscrape WHERE film IN 
(SELECT film FROM fscore WHERE rottentomatoes=85 OR rottentomatoes=25)
               """)
nestout = fancur.fetchall()
print(nestout[:5])
print("Total no. of rows = %d"%len(nestout))

[('Fifty Shades of Grey (2015)', 4.0, 3.9, 34846), ('Cinderella (2015)', 5.0, 4.5, 12640), ('Trainwreck (2015)', 4.5, 4.1, 8381)]
Total no. of rows = 3

In [24]:
fancur.execute(""" SELECT * FROM fscrape WHERE film IN 
(SELECT film FROM fscore WHERE rottentomatoes < 85 OR rottentomatoes > 25)
               """)
nestout = fancur.fetchall()
print(nestout[:5])
print("Total no. of rows = %d"%len(nestout))

[('Fifty Shades of Grey (2015)', 4.0, 3.9, 34846), ('Jurassic World (2015)', 4.5, 4.5, 34390), ('American Sniper (2015)', 5.0, 4.8, 34085), ('Furious 7 (2015)', 5.0, 4.8, 33538), ('Inside Out (2015)', 4.5, 4.5, 15749)]
Total no. of rows = 145

In [25]:
fancur.execute(""" SELECT * FROM fscrape WHERE film IN 
(SELECT film FROM fscore WHERE rottentomatoes < 85 AND rottentomatoes > 25)
               """)
nestout = fancur.fetchall()
print(nestout[:5])
print("Total no. of rows = %d"%len(nestout))

[('Jurassic World (2015)', 4.5, 4.5, 34390), ('American Sniper (2015)', 5.0, 4.8, 34085), ('Furious 7 (2015)', 5.0, 4.8, 33538), ('The Hobbit: The Battle of the Five Armies (2014)', 4.5, 4.3, 15337), ('Kingsman: The Secret Service (2015)', 4.5, 4.2, 15205)]
Total no. of rows = 75

### Types of joins

A join is an operation that is used to combine data from two tables, given that there is a common column in both of them. There are four types of joins:
1) Inner join - returns common records among both the tables
2) Right join - returns all records from right table, and the common records from the left table
3) Left join - returns all records from left table, and the common records from the right table
4) Full join - returns all records when the common record is either in table 1 or table 2.

Lets understand what they actually mean by executing these operations on the two tables.

#### Exercise (a)

Execute inner join operation on the 'fscore' and 'fscrape' tables. Note that FILM is the common column among both tables.

In [31]:
!pip install tabulate

Collecting tabulate
  Downloading https://files.pythonhosted.org/packages/c2/fd/202954b3f0eb896c53b7b6f07390851b1fd2ca84aa95880d7ae4f434c4ac/tabulate-0.8.3.tar.gz (46kB)
    100% |████████████████████████████████| 51kB 2.0MB/s ta 0:00:011
Building wheels for collected packages: tabulate
  Running setup.py bdist_wheel for tabulate ... done
  Stored in directory: /home/jovyan/.cache/pip/wheels/2b/67/89/414471314a2d15de625d184d8be6d38a03ae1e983dbda91e84
Successfully built tabulate
Installing collected packages: tabulate
Successfully installed tabulate-0.8.3

In [34]:
from tabulate import tabulate

fancur.execute('''SELECT fscrape.FILM, rottentomatoes, metacritic, imdb, rating, votes
FROM fscrape
INNER JOIN fscore
ON fscore.FILM=fscrape.FILM 
''')
templist1 = fancur.fetchall()
headers1 = ['Film', 'RottenTomatoes', 'Metacritic', 'IMDB', 'Rating', 'Votes']
print(tabulate(templist1, headers1))
print(len(templist1))

Film                                                                      RottenTomatoes    Metacritic    IMDB    Rating    Votes
----------------------------------------------------------------------  ----------------  ------------  ------  --------  -------
Fifty Shades of Grey (2015)                                                           25            46     4.2       3.9    34846
Jurassic World (2015)                                                                 71            59     7.3       4.5    34390
American Sniper (2015)                                                                72            72     7.4       4.8    34085
Furious 7 (2015)                                                                      81            67     7.4       4.8    33538
Inside Out (2015)                                                                     98            94     8.6       4.5    15749
The Hobbit: The Battle of the Five Armies (2014)                                      61            59     7.5       4.3    15337
Kingsman: The Secret Service (2015)                                                   75            58     7.8       4.2    15205
Minions (2015)                                                                        54            56     6.7       4      14998
Avengers: Age of Ultron (2015)                                                        74            66     7.8       4.5    14846
Into the Woods (2014)                                                                 71            69     6         3.4    13055
Cinderella (2015)                                                                     85            67     7.1       4.5    12640
Ant-Man (2015)                                                                        80            64     7.8       4.5    12055
Mad Max: Fury Road (2015)                                                             97            89     8.3       4.3    10509
San Andreas (2015)                                                                    50            43     6.5       4.3     9749
Unbroken (2014)                                                                       51            59     7.2       4.1     9443
Spy (2015)                                                                            93            75     7.3       4.3     9418
Magic Mike XXL (2015)                                                                 62            60     6.3       4.4     9363
Trainwreck (2015)                                                                     85            75     6.7       4.1     8381
Straight Outta Compton (2015)                                                         90            72     8.4       4.8     8096
Tomorrowland (2015)                                                                   50            60     6.6       3.7     8077
The Imitation Game (2014)                                                             90            73     8.1       4.6     8055
Home (2015)                                                                           45            55     6.7       4.4     7705
The Divergent Series: Insurgent (2015)                                                30            42     6.4       4.2     7123
Selma (2014)                                                                          99            89     7.5       4.6     7025
Annie (2014)                                                                          27            33     5.2       4.2     6835
Taken 3 (2015)                                                                         9            26     6.1       4.1     6757
The Wedding Ringer (2015)                                                             27            35     6.7       4.4     6506
Ted 2 (2015)                                                                          46            48     6.6       4.1     6437
Fantastic Four (2015)                                                                  9            27     4         2.7     6288
Terminator Genisys (2015)                                                             26            38     6.9       4.2     6272
Get Hard (2015)                                                                       29            34     6.1       3.9     5933
Southpaw (2015)                                                                       59            57     7.8       4.6     5597
Night at the Museum: Secret of the Tomb (2014)                                        50            47     6.3       4.1     5445
Focus (2015)                                                                          57            56     6.6       3.9     4933
Pitch Perfect 2 (2015)                                                                67            63     6.7       4.2     4577
The SpongeBob Movie: Sponge Out of Water (2015)                                       78            62     6.1       3.3     4493
Entourage (2015)                                                                      32            38     7.1       4.2     4279
Birdman (2014)                                                                        92            88     7.9       3.7     4194
Jupiter Ascending (2015)                                                              26            40     5.5       3.4     4122
Paddington (2015)                                                                     98            77     7.2       4.3     4045
Pixels (2015)                                                                         17            27     5.6       4.1     3886
Vacation (2015)                                                                       27            34     6.3       3.8     3815
Chappie (2015)                                                                        30            41     7         3.8     3642
Ex Machina (2015)                                                                     92            78     7.7       4.1     3458
Max (2015)                                                                            35            47     7         4.5     3412
McFarland, USA (2015)                                                                 79            60     7.5       4.6     3364
The Age of Adaline (2015)                                                             54            51     7.3       4.2     3325
Insidious: Chapter 3 (2015)                                                           59            52     6.3       4.1     3276
Top Five (2014)                                                                       86            81     6.5       3.5     3223
Paul Blart: Mall Cop 2 (2015)                                                          5            13     4.3       3.5     3054
The Boy Next Door (2015)                                                              10            30     4.6       3.6     2800
Poltergeist (2015)                                                                    31            47     5         2.8     2704
The Man From U.N.C.L.E. (2015)                                                        68            55     7.6       4.1     2686
The Gift (2015)                                                                       93            77     7.6       3.7     2680
Hot Pursuit (2015)                                                                     8            31     4.9       3.7     2618
The Longest Ride (2015)                                                               31            33     7.2       4.5     2603
Unfriended (2015)                                                                     60            59     5.9       2.7     2507
Woman in Gold (2015)                                                                  52            51     7.4       4.4     2435
Aloha (2015)                                                                          19            40     5.5       3.1     2284
The DUFF (2015)                                                                       71            56     6.6       4.2     2273
Dope (2015)                                                                           87            72     7.5       4.3     2195
It Follows (2015)                                                                     96            83     6.9       2.9     2097
Run All Night (2015)                                                                  60            59     6.6       4.1     2066
The Gallows (2015)                                                                    16            30     4.4       2.9     1896
The Second Best Exotic Marigold Hotel (2015)                                          62            51     6.6       3.9     1870
Black or White (2015)                                                                 39            45     6.6       4.2     1862
Project Almanac (2015)                                                                34            47     6.4       3.7     1834
Do You Believe? (2015)                                                                18            22     5.4       4.5     1793
Paper Towns (2015)                                                                    55            56     6.9       3.8     1750
The Lazarus Effect (2015)                                                             14            31     5.2       3       1651
Big Eyes (2014)                                                                       72            62     7         3.8     1501
Ricki and the Flash (2015)                                                            64            54     6.2       3.7     1462
Blackhat (2015)                                                                       34            51     5.4       2.8     1430
Self/less (2015)                                                                      20            34     6.6       3.8     1415
Mr. Holmes (2015)                                                                     87            67     7.4       4       1348
The Woman In Black 2 Angel of Death (2015)                                            22            42     4.9       3       1333
Still Alice (2015)                                                                    88            72     7.5       4.1     1258
Seventh Son (2015)                                                                    12            30     5.5       3.2     1213
Mortdecai (2015)                                                                      12            27     5.5       3.2     1196
Strange Magic (2015)                                                                  17            25     5.7       3.4     1117
Inherent Vice (2014)                                                                  73            81     6.7       2.9     1078
Hot Tub Time Machine 2 (2015)                                                         14            29     5.1       3       1021
The Gunman (2015)                                                                     17            39     5.8       3.4      996
Sinister 2 (2015)                                                                     13            31     5.5       3.3      973
Hitman: Agent 47 (2015)                                                                7            28     5.9       3.9      917
Shaun the Sheep Movie (2015)                                                          99            81     7.4       4        896
Love & Mercy (2015)                                                                   89            80     7.8       4        864
Unfinished Business (2015)                                                            11            32     5.4       3.2      821
The Loft (2015)                                                                       11            24     6.3       3.6      811
Little Boy (2015)                                                                     20            30     7.4       4.3      811
Far From The Madding Crowd (2015)                                                     84            71     7.2       4        804
Amy (2015)                                                                            97            85     8         4.4      729
Monkey Kingdom (2015)                                                                 94            72     7.3       4.2      701
A Most Violent Year (2014)                                                            90            79     7.1       3.4      675
American Ultra (2015)                                                                 46            50     6.5       3.7      638
Me and Earl and The Dying Girl (2015)                                                 81            74     8.2       4.3      624
True Story (2015)                                                                     45            50     6.3       3.2      540
Danny Collins (2015)                                                                  77            58     7.1       4        531
Cake (2015)                                                                           49            49     6.5       3.4      482
Spare Parts (2015)                                                                    52            50     7.2       4.5      450
While We're Young (2015)                                                              83            76     6.4       2.9      449
The Water Diviner (2015)                                                              63            50     7.2       4        397
Child 44 (2015)                                                                       26            41     6.4       3.7      308
Mr. Turner (2014)                                                                     98            94     6.9       3.2      290
I'll See You In My Dreams (2015)                                                      94            75     6.9       3.6      281
What We Do in the Shadows (2015)                                                      96            75     7.6       4.3      259
Irrational Man (2015)                                                                 42            53     6.9       3.5      252
Wild Tales (2014)                                                                     96            77     8.2       4.1      235
Black Sea (2015)                                                                      82            62     6.4       3.5      218
The Vatican Tapes (2015)                                                              13            37     4.6       2.9      210
'71 (2015)                                                                            97            83     7.2       3.5      192
Clouds of Sils Maria (2015)                                                           89            78     6.8       3.4      162
Testament of Youth (2015)                                                             81            77     7.3       3.9      127
Infinitely Polar Bear (2015)                                                          80            64     7.2       3.9      124
The End of the Tour (2015)                                                            92            84     7.9       4.1      121
Two Days, One Night (2014)                                                            97            89     7.4       3.5      118
The Overnight (2015)                                                                  82            65     6.9       3.3      110
The Last Five Years (2015)                                                            60            60     6         4.4       99
Maggie (2015)                                                                         54            52     5.6       3.3       95
The Salt of the Earth (2015)                                                          96            83     8.4       4.3       83
A Little Chaos (2015)                                                                 40            51     6.4       3.9       83
5 Flights Up (2015)                                                                   52            55     6.1       3.6       79
Timbuktu (2015)                                                                       99            91     7.2       3.6       74
Phoenix (2015)                                                                        99            91     7.2       3.4       70
Song of the Sea (2014)                                                                99            86     8.2       4.3       66
The Wolfpack (2015)                                                                   84            75     7.1       3.4       66
Leviathan (2014)                                                                      99            92     7.7       3.5       64
The 100-Year-Old Man Who Climbed Out the Window and Disappeared (2015)                67            58     7.1       3.9       63
Gett: The Trial of Viviane Amsalem (2015)                                            100            90     7.8       3.5       59
Welcome to Me (2015)                                                                  71            67     5.9       3.6       56
Dark Places (2015)                                                                    26            39     6.3       3.7       55
Red Army (2015)                                                                       96            82     7.7       4.1       54
The Stanford Prison Experiment (2015)                                                 84            68     7.1       3.9       51
Serena (2015)                                                                         18            36     5.4       3         50
Escobar: Paradise Lost (2015)                                                         52            56     6.6       3.9       48
When Marnie Was There (2015)                                                          89            71     7.8       4.1       46
Saint Laurent (2015)                                                                  51            52     6.3       3.1       43
About Elly (2015)                                                                     97            87     8.2       3.6       43
The Hunting Ground (2015)                                                             92            77     7.5       4.1       42
Seymour: An Introduction (2015)                                                      100            83     7.7       4.2       41
Kumiko, The Treasure Hunter (2015)                                                    87            68     6.7       3.5       41
The Diary of a Teenage Girl (2015)                                                    95            87     7         3.6       38
The Wrecking Crew (2015)                                                              93            67     7.8       4.2       38
Tangerine (2015)                                                                      95            86     7.4       3.9       36
Maps to the Stars (2015)                                                              60            67     6.3       3.1       35
145

In [35]:
from tabulate import tabulate

fancur.execute('''SELECT fscrape.FILM, rottentomatoes, metacritic, imdb, rating, votes
FROM fscore
INNER JOIN fscrape
ON fscore.FILM=fscrape.FILM 
''')
templist1 = fancur.fetchall()
headers1 = ['Film', 'RottenTomatoes', 'Metacritic', 'IMDB', 'Rating', 'Votes']
print(tabulate(templist1, headers1))
print(len(templist1))

Film                                                                      RottenTomatoes    Metacritic    IMDB    Rating    Votes
----------------------------------------------------------------------  ----------------  ------------  ------  --------  -------
Avengers: Age of Ultron (2015)                                                        74            66     7.8       4.5    14846
Cinderella (2015)                                                                     85            67     7.1       4.5    12640
Ant-Man (2015)                                                                        80            64     7.8       4.5    12055
Do You Believe? (2015)                                                                18            22     5.4       4.5     1793
Hot Tub Time Machine 2 (2015)                                                         14            29     5.1       3       1021
The Water Diviner (2015)                                                              63            50     7.2       4        397
Irrational Man (2015)                                                                 42            53     6.9       3.5      252
Top Five (2014)                                                                       86            81     6.5       3.5     3223
Shaun the Sheep Movie (2015)                                                          99            81     7.4       4        896
Love & Mercy (2015)                                                                   89            80     7.8       4        864
Far From The Madding Crowd (2015)                                                     84            71     7.2       4        804
Black Sea (2015)                                                                      82            62     6.4       3.5      218
Leviathan (2014)                                                                      99            92     7.7       3.5       64
Unbroken (2014)                                                                       51            59     7.2       4.1     9443
The Imitation Game (2014)                                                             90            73     8.1       4.6     8055
Taken 3 (2015)                                                                         9            26     6.1       4.1     6757
Ted 2 (2015)                                                                          46            48     6.6       4.1     6437
Southpaw (2015)                                                                       59            57     7.8       4.6     5597
Night at the Museum: Secret of the Tomb (2014)                                        50            47     6.3       4.1     5445
Pixels (2015)                                                                         17            27     5.6       4.1     3886
McFarland, USA (2015)                                                                 79            60     7.5       4.6     3364
Insidious: Chapter 3 (2015)                                                           59            52     6.3       4.1     3276
The Man From U.N.C.L.E. (2015)                                                        68            55     7.6       4.1     2686
Run All Night (2015)                                                                  60            59     6.6       4.1     2066
Trainwreck (2015)                                                                     85            75     6.7       4.1     8381
Selma (2014)                                                                          99            89     7.5       4.6     7025
Ex Machina (2015)                                                                     92            78     7.7       4.1     3458
Still Alice (2015)                                                                    88            72     7.5       4.1     1258
Wild Tales (2014)                                                                     96            77     8.2       4.1      235
The End of the Tour (2015)                                                            92            84     7.9       4.1      121
Red Army (2015)                                                                       96            82     7.7       4.1       54
When Marnie Was There (2015)                                                          89            71     7.8       4.1       46
The Hunting Ground (2015)                                                             92            77     7.5       4.1       42
The Boy Next Door (2015)                                                              10            30     4.6       3.6     2800
Aloha (2015)                                                                          19            40     5.5       3.1     2284
The Loft (2015)                                                                       11            24     6.3       3.6      811
5 Flights Up (2015)                                                                   52            55     6.1       3.6       79
Welcome to Me (2015)                                                                  71            67     5.9       3.6       56
Saint Laurent (2015)                                                                  51            52     6.3       3.1       43
Maps to the Stars (2015)                                                              60            67     6.3       3.1       35
I'll See You In My Dreams (2015)                                                      94            75     6.9       3.6      281
Timbuktu (2015)                                                                       99            91     7.2       3.6       74
About Elly (2015)                                                                     97            87     8.2       3.6       43
The Diary of a Teenage Girl (2015)                                                    95            87     7         3.6       38
Kingsman: The Secret Service (2015)                                                   75            58     7.8       4.2    15205
Tomorrowland (2015)                                                                   50            60     6.6       3.7     8077
The Divergent Series: Insurgent (2015)                                                30            42     6.4       4.2     7123
Annie (2014)                                                                          27            33     5.2       4.2     6835
Fantastic Four (2015)                                                                  9            27     4         2.7     6288
Terminator Genisys (2015)                                                             26            38     6.9       4.2     6272
Pitch Perfect 2 (2015)                                                                67            63     6.7       4.2     4577
Entourage (2015)                                                                      32            38     7.1       4.2     4279
The Age of Adaline (2015)                                                             54            51     7.3       4.2     3325
Hot Pursuit (2015)                                                                     8            31     4.9       3.7     2618
The DUFF (2015)                                                                       71            56     6.6       4.2     2273
Black or White (2015)                                                                 39            45     6.6       4.2     1862
Project Almanac (2015)                                                                34            47     6.4       3.7     1834
Ricki and the Flash (2015)                                                            64            54     6.2       3.7     1462
Seventh Son (2015)                                                                    12            30     5.5       3.2     1213
Mortdecai (2015)                                                                      12            27     5.5       3.2     1196
Unfinished Business (2015)                                                            11            32     5.4       3.2      821
American Ultra (2015)                                                                 46            50     6.5       3.7      638
True Story (2015)                                                                     45            50     6.3       3.2      540
Child 44 (2015)                                                                       26            41     6.4       3.7      308
Dark Places (2015)                                                                    26            39     6.3       3.7       55
Birdman (2014)                                                                        92            88     7.9       3.7     4194
The Gift (2015)                                                                       93            77     7.6       3.7     2680
Unfriended (2015)                                                                     60            59     5.9       2.7     2507
Monkey Kingdom (2015)                                                                 94            72     7.3       4.2      701
Mr. Turner (2014)                                                                     98            94     6.9       3.2      290
Seymour: An Introduction (2015)                                                      100            83     7.7       4.2       41
The Wrecking Crew (2015)                                                              93            67     7.8       4.2       38
American Sniper (2015)                                                                72            72     7.4       4.8    34085
Furious 7 (2015)                                                                      81            67     7.4       4.8    33538
The Hobbit: The Battle of the Five Armies (2014)                                      61            59     7.5       4.3    15337
San Andreas (2015)                                                                    50            43     6.5       4.3     9749
Straight Outta Compton (2015)                                                         90            72     8.4       4.8     8096
Vacation (2015)                                                                       27            34     6.3       3.8     3815
Chappie (2015)                                                                        30            41     7         3.8     3642
Poltergeist (2015)                                                                    31            47     5         2.8     2704
Paper Towns (2015)                                                                    55            56     6.9       3.8     1750
Big Eyes (2014)                                                                       72            62     7         3.8     1501
Blackhat (2015)                                                                       34            51     5.4       2.8     1430
Self/less (2015)                                                                      20            34     6.6       3.8     1415
Sinister 2 (2015)                                                                     13            31     5.5       3.3      973
Little Boy (2015)                                                                     20            30     7.4       4.3      811
Me and Earl and The Dying Girl (2015)                                                 81            74     8.2       4.3      624
Maggie (2015)                                                                         54            52     5.6       3.3       95
Mad Max: Fury Road (2015)                                                             97            89     8.3       4.3    10509
Spy (2015)                                                                            93            75     7.3       4.3     9418
The SpongeBob Movie: Sponge Out of Water (2015)                                       78            62     6.1       3.3     4493
Paddington (2015)                                                                     98            77     7.2       4.3     4045
Dope (2015)                                                                           87            72     7.5       4.3     2195
What We Do in the Shadows (2015)                                                      96            75     7.6       4.3      259
The Overnight (2015)                                                                  82            65     6.9       3.3      110
The Salt of the Earth (2015)                                                          96            83     8.4       4.3       83
Song of the Sea (2014)                                                                99            86     8.2       4.3       66
Fifty Shades of Grey (2015)                                                           25            46     4.2       3.9    34846
Get Hard (2015)                                                                       29            34     6.1       3.9     5933
Focus (2015)                                                                          57            56     6.6       3.9     4933
Jupiter Ascending (2015)                                                              26            40     5.5       3.4     4122
The Gallows (2015)                                                                    16            30     4.4       2.9     1896
The Second Best Exotic Marigold Hotel (2015)                                          62            51     6.6       3.9     1870
Strange Magic (2015)                                                                  17            25     5.7       3.4     1117
The Gunman (2015)                                                                     17            39     5.8       3.4      996
Hitman: Agent 47 (2015)                                                                7            28     5.9       3.9      917
Cake (2015)                                                                           49            49     6.5       3.4      482
The Vatican Tapes (2015)                                                              13            37     4.6       2.9      210
A Little Chaos (2015)                                                                 40            51     6.4       3.9       83
The 100-Year-Old Man Who Climbed Out the Window and Disappeared (2015)                67            58     7.1       3.9       63
Escobar: Paradise Lost (2015)                                                         52            56     6.6       3.9       48
Into the Woods (2014)                                                                 71            69     6         3.4    13055
It Follows (2015)                                                                     96            83     6.9       2.9     2097
Inherent Vice (2014)                                                                  73            81     6.7       2.9     1078
A Most Violent Year (2014)                                                            90            79     7.1       3.4      675
While We're Young (2015)                                                              83            76     6.4       2.9      449
Clouds of Sils Maria (2015)                                                           89            78     6.8       3.4      162
Testament of Youth (2015)                                                             81            77     7.3       3.9      127
Infinitely Polar Bear (2015)                                                          80            64     7.2       3.9      124
Phoenix (2015)                                                                        99            91     7.2       3.4       70
The Wolfpack (2015)                                                                   84            75     7.1       3.4       66
The Stanford Prison Experiment (2015)                                                 84            68     7.1       3.9       51
Tangerine (2015)                                                                      95            86     7.4       3.9       36
Magic Mike XXL (2015)                                                                 62            60     6.3       4.4     9363
Home (2015)                                                                           45            55     6.7       4.4     7705
The Wedding Ringer (2015)                                                             27            35     6.7       4.4     6506
Woman in Gold (2015)                                                                  52            51     7.4       4.4     2435
The Last Five Years (2015)                                                            60            60     6         4.4       99
Amy (2015)                                                                            97            85     8         4.4      729
Jurassic World (2015)                                                                 71            59     7.3       4.5    34390
Minions (2015)                                                                        54            56     6.7       4      14998
Max (2015)                                                                            35            47     7         4.5     3412
Paul Blart: Mall Cop 2 (2015)                                                          5            13     4.3       3.5     3054
The Longest Ride (2015)                                                               31            33     7.2       4.5     2603
The Lazarus Effect (2015)                                                             14            31     5.2       3       1651
The Woman In Black 2 Angel of Death (2015)                                            22            42     4.9       3       1333
Danny Collins (2015)                                                                  77            58     7.1       4        531
Spare Parts (2015)                                                                    52            50     7.2       4.5      450
Serena (2015)                                                                         18            36     5.4       3         50
Inside Out (2015)                                                                     98            94     8.6       4.5    15749
Mr. Holmes (2015)                                                                     87            67     7.4       4       1348
'71 (2015)                                                                            97            83     7.2       3.5      192
Two Days, One Night (2014)                                                            97            89     7.4       3.5      118
Gett: The Trial of Viviane Amsalem (2015)                                            100            90     7.8       3.5       59
Kumiko, The Treasure Hunter (2015)                                                    87            68     6.7       3.5       41
145

### Solution code

```python
fancur.execute('''SELECT fscore.FILM,
                  fscore.RottenTomatoes,
                  fscore.Metacritic,
                  fscore.IMDB,
                  fscrape.RATING,
                  fscrape.VOTES
                  FROM fscore
                  INNER JOIN fscrape
                  ON
                  fscore.FILM=fscrape.FILM''')
templist1 = fancur.fetchall()
headers1 = ['FILM','rottentomatoes','metacritic','Imdb','fandangorating','fandangovotes']
print(tabulate(templist1, headers1))
print(len(templist1))
```

In [39]:
from tabulate import tabulate

fancur.execute('''SELECT fscrape.FILM, rottentomatoes, metacritic, votes
FROM fscrape
LEFT JOIN fscore
ON fscore.FILM=fscrape.FILM 
LIMIT 5''')
templist1 = fancur.fetchall()
headers1 = ['Film', 'RottenTomatoes', 'Metacritic', 'Votes']
print(tabulate(templist1, headers1))
print(len(templist1))

Film                           RottenTomatoes    Metacritic    Votes
---------------------------  ----------------  ------------  -------
Fifty Shades of Grey (2015)                25            46    34846
Jurassic World (2015)                      71            59    34390
American Sniper (2015)                     72            72    34085
Furious 7 (2015)                           81            67    33538
Inside Out (2015)                          98            94    15749
5

Now that we have seen the results of an 'inner join' operation, Let's replicate the same for a 'left join'.

#### Exercise (b)

Execute a left join operation on the 'fscore' and 'fscrape' tables. Note that FILM is the common column among both tables.

In [36]:
from tabulate import tabulate

fancur.execute('''SELECT fscrape.FILM, rottentomatoes, metacritic, imdb, rating, votes
FROM fscore
LEFT JOIN fscrape
ON fscore.FILM=fscrape.FILM 
''')
templist2 = fancur.fetchall()
headers2 = ['Film', 'RottenTomatoes', 'Metacritic', 'IMDB', 'Rating', 'Votes']
print(tabulate(templist2, headers2))
print(len(templist2))

Film                                                                      RottenTomatoes    Metacritic    IMDB    Rating    Votes
----------------------------------------------------------------------  ----------------  ------------  ------  --------  -------
Avengers: Age of Ultron (2015)                                                        74            66     7.8       4.5    14846
Cinderella (2015)                                                                     85            67     7.1       4.5    12640
Ant-Man (2015)                                                                        80            64     7.8       4.5    12055
Do You Believe? (2015)                                                                18            22     5.4       4.5     1793
Hot Tub Time Machine 2 (2015)                                                         14            29     5.1       3       1021
The Water Diviner (2015)                                                              63            50     7.2       4        397
Irrational Man (2015)                                                                 42            53     6.9       3.5      252
Top Five (2014)                                                                       86            81     6.5       3.5     3223
Shaun the Sheep Movie (2015)                                                          99            81     7.4       4        896
Love & Mercy (2015)                                                                   89            80     7.8       4        864
Far From The Madding Crowd (2015)                                                     84            71     7.2       4        804
Black Sea (2015)                                                                      82            62     6.4       3.5      218
Leviathan (2014)                                                                      99            92     7.7       3.5       64
Unbroken (2014)                                                                       51            59     7.2       4.1     9443
The Imitation Game (2014)                                                             90            73     8.1       4.6     8055
Taken 3 (2015)                                                                         9            26     6.1       4.1     6757
Ted 2 (2015)                                                                          46            48     6.6       4.1     6437
Southpaw (2015)                                                                       59            57     7.8       4.6     5597
Night at the Museum: Secret of the Tomb (2014)                                        50            47     6.3       4.1     5445
Pixels (2015)                                                                         17            27     5.6       4.1     3886
McFarland, USA (2015)                                                                 79            60     7.5       4.6     3364
Insidious: Chapter 3 (2015)                                                           59            52     6.3       4.1     3276
The Man From U.N.C.L.E. (2015)                                                        68            55     7.6       4.1     2686
Run All Night (2015)                                                                  60            59     6.6       4.1     2066
Trainwreck (2015)                                                                     85            75     6.7       4.1     8381
Selma (2014)                                                                          99            89     7.5       4.6     7025
Ex Machina (2015)                                                                     92            78     7.7       4.1     3458
Still Alice (2015)                                                                    88            72     7.5       4.1     1258
Wild Tales (2014)                                                                     96            77     8.2       4.1      235
The End of the Tour (2015)                                                            92            84     7.9       4.1      121
Red Army (2015)                                                                       96            82     7.7       4.1       54
When Marnie Was There (2015)                                                          89            71     7.8       4.1       46
The Hunting Ground (2015)                                                             92            77     7.5       4.1       42
The Boy Next Door (2015)                                                              10            30     4.6       3.6     2800
Aloha (2015)                                                                          19            40     5.5       3.1     2284
The Loft (2015)                                                                       11            24     6.3       3.6      811
5 Flights Up (2015)                                                                   52            55     6.1       3.6       79
Welcome to Me (2015)                                                                  71            67     5.9       3.6       56
Saint Laurent (2015)                                                                  51            52     6.3       3.1       43
Maps to the Stars (2015)                                                              60            67     6.3       3.1       35
I'll See You In My Dreams (2015)                                                      94            75     6.9       3.6      281
Timbuktu (2015)                                                                       99            91     7.2       3.6       74
About Elly (2015)                                                                     97            87     8.2       3.6       43
The Diary of a Teenage Girl (2015)                                                    95            87     7         3.6       38
Kingsman: The Secret Service (2015)                                                   75            58     7.8       4.2    15205
Tomorrowland (2015)                                                                   50            60     6.6       3.7     8077
The Divergent Series: Insurgent (2015)                                                30            42     6.4       4.2     7123
Annie (2014)                                                                          27            33     5.2       4.2     6835
Fantastic Four (2015)                                                                  9            27     4         2.7     6288
Terminator Genisys (2015)                                                             26            38     6.9       4.2     6272
Pitch Perfect 2 (2015)                                                                67            63     6.7       4.2     4577
Entourage (2015)                                                                      32            38     7.1       4.2     4279
The Age of Adaline (2015)                                                             54            51     7.3       4.2     3325
Hot Pursuit (2015)                                                                     8            31     4.9       3.7     2618
The DUFF (2015)                                                                       71            56     6.6       4.2     2273
Black or White (2015)                                                                 39            45     6.6       4.2     1862
Project Almanac (2015)                                                                34            47     6.4       3.7     1834
Ricki and the Flash (2015)                                                            64            54     6.2       3.7     1462
Seventh Son (2015)                                                                    12            30     5.5       3.2     1213
Mortdecai (2015)                                                                      12            27     5.5       3.2     1196
Unfinished Business (2015)                                                            11            32     5.4       3.2      821
American Ultra (2015)                                                                 46            50     6.5       3.7      638
True Story (2015)                                                                     45            50     6.3       3.2      540
Child 44 (2015)                                                                       26            41     6.4       3.7      308
Dark Places (2015)                                                                    26            39     6.3       3.7       55
Birdman (2014)                                                                        92            88     7.9       3.7     4194
The Gift (2015)                                                                       93            77     7.6       3.7     2680
Unfriended (2015)                                                                     60            59     5.9       2.7     2507
Monkey Kingdom (2015)                                                                 94            72     7.3       4.2      701
Mr. Turner (2014)                                                                     98            94     6.9       3.2      290
Seymour: An Introduction (2015)                                                      100            83     7.7       4.2       41
The Wrecking Crew (2015)                                                              93            67     7.8       4.2       38
American Sniper (2015)                                                                72            72     7.4       4.8    34085
Furious 7 (2015)                                                                      81            67     7.4       4.8    33538
The Hobbit: The Battle of the Five Armies (2014)                                      61            59     7.5       4.3    15337
San Andreas (2015)                                                                    50            43     6.5       4.3     9749
Straight Outta Compton (2015)                                                         90            72     8.4       4.8     8096
Vacation (2015)                                                                       27            34     6.3       3.8     3815
Chappie (2015)                                                                        30            41     7         3.8     3642
Poltergeist (2015)                                                                    31            47     5         2.8     2704
Paper Towns (2015)                                                                    55            56     6.9       3.8     1750
Big Eyes (2014)                                                                       72            62     7         3.8     1501
Blackhat (2015)                                                                       34            51     5.4       2.8     1430
Self/less (2015)                                                                      20            34     6.6       3.8     1415
Sinister 2 (2015)                                                                     13            31     5.5       3.3      973
Little Boy (2015)                                                                     20            30     7.4       4.3      811
Me and Earl and The Dying Girl (2015)                                                 81            74     8.2       4.3      624
Maggie (2015)                                                                         54            52     5.6       3.3       95
Mad Max: Fury Road (2015)                                                             97            89     8.3       4.3    10509
Spy (2015)                                                                            93            75     7.3       4.3     9418
The SpongeBob Movie: Sponge Out of Water (2015)                                       78            62     6.1       3.3     4493
Paddington (2015)                                                                     98            77     7.2       4.3     4045
Dope (2015)                                                                           87            72     7.5       4.3     2195
What We Do in the Shadows (2015)                                                      96            75     7.6       4.3      259
The Overnight (2015)                                                                  82            65     6.9       3.3      110
The Salt of the Earth (2015)                                                          96            83     8.4       4.3       83
Song of the Sea (2014)                                                                99            86     8.2       4.3       66
Fifty Shades of Grey (2015)                                                           25            46     4.2       3.9    34846
Get Hard (2015)                                                                       29            34     6.1       3.9     5933
Focus (2015)                                                                          57            56     6.6       3.9     4933
Jupiter Ascending (2015)                                                              26            40     5.5       3.4     4122
The Gallows (2015)                                                                    16            30     4.4       2.9     1896
The Second Best Exotic Marigold Hotel (2015)                                          62            51     6.6       3.9     1870
Strange Magic (2015)                                                                  17            25     5.7       3.4     1117
The Gunman (2015)                                                                     17            39     5.8       3.4      996
Hitman: Agent 47 (2015)                                                                7            28     5.9       3.9      917
Cake (2015)                                                                           49            49     6.5       3.4      482
The Vatican Tapes (2015)                                                              13            37     4.6       2.9      210
A Little Chaos (2015)                                                                 40            51     6.4       3.9       83
The 100-Year-Old Man Who Climbed Out the Window and Disappeared (2015)                67            58     7.1       3.9       63
Escobar: Paradise Lost (2015)                                                         52            56     6.6       3.9       48
Into the Woods (2014)                                                                 71            69     6         3.4    13055
It Follows (2015)                                                                     96            83     6.9       2.9     2097
Inherent Vice (2014)                                                                  73            81     6.7       2.9     1078
A Most Violent Year (2014)                                                            90            79     7.1       3.4      675
While We're Young (2015)                                                              83            76     6.4       2.9      449
Clouds of Sils Maria (2015)                                                           89            78     6.8       3.4      162
Testament of Youth (2015)                                                             81            77     7.3       3.9      127
Infinitely Polar Bear (2015)                                                          80            64     7.2       3.9      124
Phoenix (2015)                                                                        99            91     7.2       3.4       70
The Wolfpack (2015)                                                                   84            75     7.1       3.4       66
The Stanford Prison Experiment (2015)                                                 84            68     7.1       3.9       51
Tangerine (2015)                                                                      95            86     7.4       3.9       36
Magic Mike XXL (2015)                                                                 62            60     6.3       4.4     9363
Home (2015)                                                                           45            55     6.7       4.4     7705
The Wedding Ringer (2015)                                                             27            35     6.7       4.4     6506
Woman in Gold (2015)                                                                  52            51     7.4       4.4     2435
The Last Five Years (2015)                                                            60            60     6         4.4       99
                                                                                      92            75     7.8
Amy (2015)                                                                            97            85     8         4.4      729
Jurassic World (2015)                                                                 71            59     7.3       4.5    34390
Minions (2015)                                                                        54            56     6.7       4      14998
Max (2015)                                                                            35            47     7         4.5     3412
Paul Blart: Mall Cop 2 (2015)                                                          5            13     4.3       3.5     3054
The Longest Ride (2015)                                                               31            33     7.2       4.5     2603
The Lazarus Effect (2015)                                                             14            31     5.2       3       1651
The Woman In Black 2 Angel of Death (2015)                                            22            42     4.9       3       1333
Danny Collins (2015)                                                                  77            58     7.1       4        531
Spare Parts (2015)                                                                    52            50     7.2       4.5      450
Serena (2015)                                                                         18            36     5.4       3         50
Inside Out (2015)                                                                     98            94     8.6       4.5    15749
Mr. Holmes (2015)                                                                     87            67     7.4       4       1348
'71 (2015)                                                                            97            83     7.2       3.5      192
Two Days, One Night (2014)                                                            97            89     7.4       3.5      118
Gett: The Trial of Viviane Amsalem (2015)                                            100            90     7.8       3.5       59
Kumiko, The Treasure Hunter (2015)                                                    87            68     6.7       3.5       41
146

### Solution code

```python
fancur.execute('''SELECT fscore.FILM,
                  fscore.RottenTomatoes,
                  fscore.Metacritic,
                  fscore.IMDB,
                  fscrape.RATING,
                  fscrape.VOTES
                  FROM fscore
                  LEFT JOIN fscrape
                  ON
                  fscore.FILM=fscrape.FILM''')
templist2 = fancur.fetchall()
headers2 = ['FILM','rottentomatoes','metacritic','Imdb','fandangorating','fandangovotes']
print(tabulate(templist2, headers2))
print(len(templist2))
```

From above code we can see that INNER JOIN and LEFT JOIN produce almost the same output. This is because the fscore table is a subset of fscrape table.

As of now, RIGHT OUTER JOIN and FULL OUTER JOIN are not supported by the sqlite module.

### Stored Procedures, Triggers and Materialized Views

Stored procedures, triggers and materialized views are some of the advanced SQL concepts. A stored procedure is a set of instructions/SQL queries which performs a logical action on the database server and is executed on a recurring basis, much like a standard operating procedure. A trigger is a type of stored procedure, which is set to automatically execute when a certain event occurs in the database (Eg. Say a record in a specific table is updated or deleted). A view is the output of a sql query which is presented in the console, but not stored on disk. When this output is stored on disk, in the form of a structure, in order to retrieve it frequently (instead of having to run the query again), it is called a materialized view.

Some additional reading on the above topics:
Stored procedures: https://en.wikipedia.org/wiki/Stored_procedure, https://www.tutorialspoint.com/t_sql/t_sql_stored_procedures.htm

Triggers: https://www.tutorialspoint.com/plsql/plsql_triggers.htm

Materialized views: https://en.wikipedia.org/wiki/Materialized_view, http://www.postgresqltutorial.com/postgresql-materialized-views/

The above concepts are not supported by sqlite module.

In [1]:
# No exercise

### Solution code

```python
# No exercise
```

In [85]:
#AutoIncrement - Create
fancur = fancon.cursor()
try:
    fancur.execute("""CREATE TABLE company(
       id INTEGER PRIMARY KEY AUTOINCREMENT,
       name           TEXT      NOT NULL,
       gender         TEXT      NOT NULL,
       age            INT       NOT NULL,
       address        CHAR(50),
       salary         REAL
    );
    """)
except Exception as error:
    print('Exception occurred :',error)

In [86]:
#AutoIncrement - Insert
companies = []
companies.append(( 'Paul', 'M', 32, 'California', 20000.00 ))
companies.append(('Allen', 'F', 25, 'Texas', 15000.00 ))
companies.append(('Teddy', 'M', 23, 'Norway', 20000.00 ))
companies.append(( 'Mark', 'M', 25, 'Rich-Mond ', 65000.00 ))
companies.append(( 'David', 'M', 27, 'Texas', 85000.00 ))
companies.append(( 'Hannah', 'F', 22, 'South-Hall', 45000.00 ))
companies.append(( 'James', 'M', 24, 'Houston', 10000.00 ))

In [87]:
fancur.executemany("""INSERT INTO COMPANY (NAME,GENDER,AGE,ADDRESS,SALARY)
VALUES (?,?,?,?,?)""", companies)

In [88]:
from tabulate import tabulate

fancur.execute("SELECT * FROM COMPANY")
querycompany = fancur.fetchall()
headerscompany = ['ID','Name', 'Gender', 'Age','Address','Salary']
print(tabulate(querycompany, headerscompany))

  ID  Name    Gender      Age  Address       Salary
----  ------  --------  -----  ----------  --------
   1  Paul    M            32  California     20000
   2  Allen   F            25  Texas          15000
   3  Teddy   M            23  Norway         20000
   4  Mark    M            25  Rich-Mond      65000
   5  David   M            27  Texas          85000
   6  Hannah  F            22  South-Hall     45000
   7  James   M            24  Houston        10000

In [79]:
#Primary Key - create
try:
    fancur.execute("""CREATE TABLE artist(
    artistid    INTEGER PRIMARY KEY, 
    artistname  TEXT
    );""")
except Exception as e:
    print('Error:',e)

In [ ]:
#Foreign Key - create
try:
    fancur.execute("""CREATE TABLE track(
    trackid     INTEGER, 
    trackname   TEXT, 
    trackartist INTEGER,
    FOREIGN KEY(trackartist) REFERENCES artist(artistid)
    );""")
except Exception as e:
    print('Error:',e)

In [80]:
#Primary Key - Insert
artistes = []
artistes.append(( 1, 'Dean Martin'))
artistes.append((2, 'Frank Sinatra' ))


fancur.executemany("""INSERT INTO artist (artistid,artistname)
VALUES (?,?)""", artistes)
fancur.execute("SELECT * FROM artist")
queryartist = fancur.fetchall()
print(queryartist)

[(1, 'Dean Martin'), (2, 'Frank Sinatra')]

In [81]:
#Foreign Key - Insert
tracks = []
tracks.append(( 11, "That's Amore", 1 ))
tracks.append(( 12, "Christmas Blues", 1 ))
tracks.append(( 13, "My Way", 2 ))

fancur.executemany("""INSERT INTO track (trackid,trackname, trackartist)
VALUES (?,?,?)""", tracks)
fancur.execute("SELECT * FROM track")
querytrack = fancur.fetchall()
print(querytrack)
tracks = []
tracks.append(( 14, "That's Am", 3 ))
fancur.execute("PRAGMA foreign_keys=ON")
fancur.execute("commit;")

[(11, "That's Amore", 1), (12, 'Christmas Blues', 1), (13, 'My Way', 2)]

In [82]:
try:
    fancur.executemany("""INSERT INTO track (trackid,trackname, trackartist)
    VALUES (?,?,?)""", tracks)
except Exception as e:
    print('Error:',e) 

fancur.execute("PRAGMA foreign_keys")
querytrack = fancur.fetchall()
print(querytrack)

Error: FOREIGN KEY constraint failed
[(1,)]

In [90]:
#DISTINCT
fancur.execute("SELECT DISTINCT name FROM company")
querydistinct = fancur.fetchall()
headersseq = []
print(tabulate(querydistinct, headersseq))

------
Paul
Allen
Teddy
Mark
David
Hannah
James
------

In [91]:
#Views - create
try:
    fancur.execute("""
    CREATE VIEW company_view 
    AS
    SELECT id, name, age
    FROM  company;""")
except Exception as e:
    print('Error:',e) #Views - Select

fancur.execute("SELECT * FROM COMPANY_VIEW")
queryview = fancur.fetchall()
print(queryview)

[(1, 'Paul', 32), (2, 'Allen', 25), (3, 'Teddy', 23), (4, 'Mark', 25), (5, 'David', 27), (6, 'Hannah', 22), (7, 'James', 24)]

In [51]:
# Audit Table & Triggers - create
try:
    fancur.execute("""CREATE TABLE audit(
    EMP_ID INT NOT NULL,
    ENTRY_DATE TEXT NOT NULL,
    ENTRY_TYPE TEXT NOT NULL
    );""")
except Exception as e:
    print('Error:',e)

# Trigger - create
try:
    fancur.execute("""CREATE TRIGGER audit_log_insert_trigger 
    AFTER INSERT 
    ON company
    BEGIN
       INSERT INTO audit(EMP_ID, ENTRY_DATE, ENTRY_TYPE) VALUES (new.ID, datetime('now'), 'INSERT');
    END;""")
except Exception as e:
    print('Error:',e)

In [52]:
#Table, View , Trigger objects from Database
fancur.execute("SELECT name FROM sqlite_master WHERE type = 'table'")
queryview = fancur.fetchall()
print('Tables : ', queryview)
fancur.execute("SELECT name FROM sqlite_master WHERE type = 'view'")
queryview = fancur.fetchall()
print('Views : ', queryview)
fancur.execute("SELECT name FROM sqlite_master WHERE type = 'trigger'")
queryview = fancur.fetchall()
print('Triggers : ',  queryview)

Tables :  [('fscrape',), ('fscore',), ('company',), ('sqlite_sequence',), ('artist',), ('track',), ('audit',)]
Views :  [('company_view',)]
Triggers :  [('audit_log_insert_trigger',)]

In [53]:
# Trigger Before Delete - create
try:
    fancur.execute("""CREATE TRIGGER audit_log_delete_trigger 
    BEFORE DELETE 
    ON company
    BEGIN
       INSERT INTO audit(EMP_ID, ENTRY_DATE, ENTRY_TYPE) VALUES (old.ID, datetime('now'), 'DELETE');
    END;""")
except Exception as e:
    print('Error:',e)

In [54]:
#Invoking a Trigger
companies = []
companies.append(( 'TriggerUser1', 25, 'California', 20000.00 ))
companies.append(('TriggerUser2', 22, 'Texas', 15000.00 ))


fancur.executemany("""INSERT INTO COMPANY (NAME,AGE,ADDRESS,SALARY)
VALUES (?,?,?,?)""", companies)
fancur.execute("SELECT * FROM COMPANY")
querycompany = fancur.fetchall()
print(querycompany)

[(1, 'Paul', 32, 'California', 20000.0), (2, 'Allen', 25, 'Texas', 15000.0), (3, 'Teddy', 23, 'Norway', 20000.0), (4, 'Mark', 25, 'Rich-Mond ', 65000.0), (5, 'David', 27, 'Texas', 85000.0), (6, 'Kim', 22, 'South-Hall', 45000.0), (7, 'James', 24, 'Houston', 10000.0), (8, 'TriggerUser1', 25, 'California', 20000.0), (9, 'TriggerUser2', 22, 'Texas', 15000.0)]

In [55]:
#Viewing - Audit Table based on Trigger
fancur.execute("SELECT * FROM audit")
queryaudit = fancur.fetchall()
headerscompany = ['ID','Event Time','Action Type']
print(tabulate(queryaudit, headerscompany))

  ID  Event Time           Action Type
----  -------------------  -------------
   8  2019-02-17 09:48:06  INSERT
   9  2019-02-17 09:48:06  INSERT

In [56]:
fancur.execute("SELECT * FROM sqlite_sequence")
queryaudit = fancur.fetchall()
headersseq = []
print(tabulate(queryaudit, headersseq))

-------  -
company  9
-------  -