# Lab - File IO

In this lab, you are required to read a json file and convert the contents of the file to csv format.

Follow these instructions: 

1. Read the file from the URL, /data/sample-data.json
2. The JSON is a list of documents, with each document representing a row in the CSV
3. Each element within each document must correspond to a column.
4. First row in the CSV must contain the headers. 
5. Output must be saved as sample-output.csv

Ref: Sample data is from http://mysafeinfo.com/api/data?list=englishmonarchs&format=json

In [1]:
# Write your code below:
import requests
import pandas as pd

In [2]:
url = 'http://mysafeinfo.com/api/data?list=englishmonarchs&format=json'
json_obj_list = requests.get(url).json()
print(json_obj_list[0])
type(json_obj_list[0])

{'id': 1, 'nm': 'Edward the Elder', 'cty': 'United Kingdom', 'hse': 'House of Wessex', 'yrs': '899-925'}

dict

In [3]:
to_dict = {}
for json_obj in json_obj_list :
    
    for key, value in json_obj.items() :
        
        if key not in to_dict.keys() :
            to_dict[key] = []
            
        to_dict[key].append(value)

In [4]:
pd.DataFrame(to_dict).head()

   id                nm             cty              hse      yrs
0   1  Edward the Elder  United Kingdom  House of Wessex  899-925
1   2         Athelstan  United Kingdom  House of Wessex  925-940
2   3            Edmund  United Kingdom  House of Wessex  940-946
3   4             Edred  United Kingdom  House of Wessex  946-955
4   5              Edwy  United Kingdom  House of Wessex  955-959

In [5]:
pd.DataFrame(to_dict).tail()

    id            nm             cty                         hse        yrs
52  53    Edward VII  United Kingdom  House of Saxe-Coburg-Gotha  1901-1910
53  54      George V  United Kingdom            House of Windsor  1910-1936
54  55   Edward VIII  United Kingdom            House of Windsor       1936
55  56     George VI  United Kingdom            House of Windsor  1936-1952
56  57  Elizabeth II  United Kingdom            House of Windsor      1952-

In [6]:
pd.DataFrame(to_dict).to_csv('sample_output.csv', index=False)

In [7]:
pd.read_csv('sample_output.csv').head()

   id                nm             cty              hse      yrs
0   1  Edward the Elder  United Kingdom  House of Wessex  899-925
1   2         Athelstan  United Kingdom  House of Wessex  925-940
2   3            Edmund  United Kingdom  House of Wessex  940-946
3   4             Edred  United Kingdom  House of Wessex  946-955
4   5              Edwy  United Kingdom  House of Wessex  955-959